@using TechSolutions.SharedKernel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tech Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        /* Cambia el color de fondo del navbar a verde */
        .navbar-custom {
            background-color: #206329; /* Verde oscuro personalizado */
        }

            .navbar-custom .nav-link,
            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-toggler-icon {
                color: white; /* Cambia el color del texto a blanco */
            }

            .navbar-custom .navbar-toggler {
                border-color: white; /* Cambia el color del borde del botón toggle a blanco */
            }

        /* Estilos para el footer fijo */
        .footer-custom {
            background-color: #206329; /* Mismo verde oscuro */
            color: white; /* Texto en blanco */
            padding: 2px 5px; /* Reducir el padding en la parte superior e inferior */
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        /* Para asegurar que el contenido no quede oculto debajo del footer */
        .body-content {
            margin-bottom: 50px; /* Ajusta según la altura del footer */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom">
        <div class="container">
            @Html.ActionLink("Tech Solutions", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sobre Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contáctanos", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (Session["UserId"] == null)
                    {
                        // Si el usuario NO está logueado
                        <li>@Html.ActionLink("Registro", "Create", "Registro", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ingreso", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recuperar cuenta", "Index", "Recupero", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        // Si el usuario está logueado, mostrar opciones según el rol
                        var rolUsuario = (Rol)Enum.Parse(typeof(Rol), Session["Rol"].ToString());

                        if (rolUsuario == Rol.Administrador)
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Productos", "Index", "Producto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Categorías", "Index", "CategoriaProducto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "Pedido", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mi perfil", "MiPerfil", "Usuario", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                        }
                        else if (rolUsuario == Rol.Cliente)
                        {
                            <li>@Html.ActionLink("Ver Carrito", "Carrito", "Pedido", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mi perfil", "MiPerfil", "Usuario", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Listado de Productos", "Listado", "Producto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mis Compras", "ComprasUsuario", "EncabezadoFactura", new { idUsuario = Session["UserId"] }, new { @class = "nav-link" })</li>
                        }

                        // Agregar el enlace para cerrar sesión
                        <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>

                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer-custom">
        <p>&copy; @DateTime.Now.Year - Tech Solutions todos los derechos reservados</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
