@using TechSolutions.SharedKernel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tech Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        .navbar-custom {
            background-color: #206329; /* Verde oscuro personalizado */
        }

            .navbar-custom .navbar-brand, .navbar-custom .nav-link {
                color: white;
                text-align: center; /* Asegura que el texto esté centrado */
            }

            .navbar-custom .nav-link {
                margin-left: 15px;
                margin-right: 15px;
                text-transform: uppercase; /* Mayúsculas para un look más moderno */
            }

            .navbar-custom .navbar-toggler {
                border-color: white;
            }

            .navbar-custom .navbar-toggler-icon {
                color: white;
            }

        /* Centrando los elementos dentro del navbar usando flexbox */
        .navbar-collapse {
            display: flex;
            justify-content: space-between; /* Para distribuir los elementos */
            align-items: center; /* Centra verticalmente */
        }

        .user-info {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #34495e;
            color: white;
            font-size: 0.9rem; /* Tamaño de fuente reducido */
            padding: 5px 10px; /* Padding reducido */
            border-radius: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-height: 40px; /* Limitar altura máxima */
            overflow: hidden; /* Ocultar el contenido que se salga */
        }

        .user-info i {
            margin-right: 5px; /* Margen reducido entre el icono y el texto */
            font-size: 1.2rem; /* Tamaño del icono reducido */
        }

        .user-info p {
            margin: 0; /* Mantener el margen en 0 */
            font-weight: bold;
        }

        .footer-custom {
            background-color: #206329;
            color: white;
            padding: 10px 5px; /* Aumenta el padding superior e inferior */
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }

            .footer-custom a {
                color: white; /* Color inicial del enlace */
                text-decoration: none; /* Quitar subrayado */
            }

                .footer-custom a:hover {
                    color: #4a90e2; /* Azul claro al pasar el mouse */
                    text-decoration: underline; /* Opcional: añade subrayado al pasar el mouse */
                }

        .body-content {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom">
        <div class="container">
            @Html.ActionLink("Tech Solutions", "Index", "Login", new { area = "" }, new { @class = "navbar-brand mx-auto" }) <!-- Centra el logo -->

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <!-- Centramos el contenido del menú -->
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (Session["UserId"] == null)
                    {
                        <li>@Html.ActionLink("Registro", "Create", "Registro", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ingreso", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recuperar cuenta", "Index", "Recupero", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        var rolUsuario = (Rol)Enum.Parse(typeof(Rol), Session["Rol"].ToString());

                        if (rolUsuario == Rol.Administrador)
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Productos", "Index", "Producto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Categorías", "Index", "CategoriaProducto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "Pedido", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Facturas", "Index", "EncabezadoFactura", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Log Pedidos", "Index", "HistorialPedido", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mi perfil", "MiPerfil", "Usuario", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                        }
                        else if (rolUsuario == Rol.Cliente)
                        {
                            <li>@Html.ActionLink("Ver Carrito", "Carrito", "Pedido", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mi perfil", "MiPerfil", "Usuario", new { id = Session["UserId"] }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Listado de Productos", "Listado", "Producto", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Mis Compras", "ComprasUsuario", "EncabezadoFactura", new { idUsuario = Session["UserId"] }, new { @class = "nav-link" })</li>
                        }

                        <li>
                            <a href="@Url.Action("Logout", "Login", new { area = "" })" class="nav-link" title="Cerrar sesión">
                                <i class="fas fa-power-off" style="font-size: 1.7rem; margin-top:10px;"></i> <!-- Ajusta el tamaño aquí -->
                            </a>
                        </li>
                    }
                </ul>

                @if (Session["UserId"] != null)
                {
                    <div class="user-info">
                        <i class="fas fa-user-circle"></i>
                        <p>@Session["Email"] - @Enum.Parse(typeof(Rol), Session["Rol"].ToString())</p>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer-custom">
        <p>
            &copy; @DateTime.Now.Year - Tech Solutions todos los derechos reservados -
            Por dudas o consultas contacte al administrador del sistema
            [<a href="mailto:soporte@techsolutions.com.ar">soporte@techsolutions.com.ar</a>]
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            // Establecer un intervalo para verificar la sesión cada minuto (60000 ms)
            setInterval(function () {
                $.get('/Login/CheckSession', function (data) {
                    if (!data.isValid) {
                        // Redirigir a la página de inicio de sesión si la sesión ha expirado
                        window.location.href = '/Login';
                    }
                });
            }, 60000); // cada minuto
        });
    </script>
</body>
</html>


