@model PagedList.IPagedList<TechSolutions.Models.Pedido>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Administración de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #93C47D;
    }

    .new-pedido-link {
        text-align: right;
        margin: 20px 0;
    }

    .btn-action {
        margin: 2px 5px;
    }

    .action-column {
        width: 180px;
    }

    .btn-custom {
        background-color: #28a745; /* Color personalizado */
        color: white;
    }

        .btn-custom:hover {
            background-color: #218838; /* Color al pasar el ratón */
            color: white;
        }
</style>

<div class="container">
    <br>
    <h2>Administración de Pedidos</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="errorMessage" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <!-- Campo de búsqueda -->
    <div class="row mb-3">
        <div class="col-12">
            <input type="text" id="search" class="form-control" placeholder="Buscar pedidos...">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="pedidoTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Número Pedido</th>
                            <th>Usuario</th>
                            <th>Monto Total</th>
                            <th>Fecha Operación</th>
                            <th>Estado</th>
                            <th class="action-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                                <td>@Html.DisplayFor(modelItem => item.Usuario.Email)</td>
                                <td>$@Html.DisplayFor(modelItem => item.MontoTotal)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaOperacion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-secondary btn-sm btn-action" title="Cambiar Estado">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm btn-action" title="Ver Detalle Pedido">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="@Url.Action("Detalle", "EncabezadoFactura", new { id = item.Id })" class="btn btn-warning btn-sm btn-action" title="Ver Factura">
                                        <i class="fas fa-file-invoice"></i>
                                    </a>
                                    @if (item.Estado == TechSolutions.SharedKernel.EstadoPedido.En_proceso_devolucion ||
                                          item.Estado == TechSolutions.SharedKernel.EstadoPedido.Parcialmente_devuelto ||
                                          item.Estado == TechSolutions.SharedKernel.EstadoPedido.Devuelto)
                                    {
                                        <a href="@Url.Action("DetallesDevolucion", new { id = item.Id })" class="btn btn-info btn-sm btn-action" title="Ver Detalles Devolución">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    }
                                    @if (item.Estado == TechSolutions.SharedKernel.EstadoPedido.Parcialmente_devuelto ||
                                          item.Estado == TechSolutions.SharedKernel.EstadoPedido.Devuelto)
                                    {
                                        <a href="@Url.Action("NotasCredito", new { id = item.Id })" class="btn btn-success btn-sm btn-action" title="Ver Notas de Crédito">
                                            <i class="fas fa-money-bill-wave"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var $successMessage = $('#successMessage');

        if ($successMessage.length) {
            setTimeout(function () {
                $successMessage.fadeOut(500); // Desvanece el mensaje en 500 ms
            }, 3000); // Espera 3000 ms (3 segundos) antes de comenzar a desvanecer
        }

        var $errorMessage = $('#errorMessage');

        if ($errorMessage.length) {
            setTimeout(function () {
                $errorMessage.fadeOut(500); // Desvanece el mensaje en 500 ms
            }, 3000); // Espera 3000 ms (3 segundos) antes de comenzar a desvanecer
        }

        // Buscador en vivo
        $('#search').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#pedidoTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
