@model IEnumerable<TechSolutions.Models.Pedido>

@{
    ViewBag.Title = "Adminsitración de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #93C47D;
    }

    .new-pedido-link {
        text-align: right;
        margin: 20px 0;
    }

    .btn-action {
        margin: 2px 5px;
    }

    .action-column {
        width: 180px;
    }
</style>

<div class="container">
    <br>
    <h2>Administración de Pedidos</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="errorMessage" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Número Pedido</th>
                            <th>Usuario</th>
                            <th>Monto Total</th>
                            <th>Fecha Operación</th>
                            <th>Estado</th>
                            <th class="action-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                                <td>@Html.DisplayFor(modelItem => item.Usuario.Email)</td>
                                <td>$@Html.DisplayFor(modelItem => item.MontoTotal)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaOperacion)</td>
                                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-secondary btn-sm btn-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm btn-action">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <a href="@Url.Action("Create", "Pedido")" class="btn btn-primary">
                <i class="fas fa-plus"></i> Nuevo Pedido
            </a>
        </div>
    </div>
</div>
<script>$(document).ready(function () {
            var $successMessage = $('#successMessage');

            if ($successMessage.length) {
                setTimeout(function () {
                    $successMessage.fadeOut(500); // Desvanece el mensaje en 500 ms
                }, 3000); // Espera 3000 ms (3 segundos) antes de comenzar a desvanecer
            }

            var $errorMessage = $('#errorMessage');

            if ($errorMessage.length) {
                setTimeout(function () {
                    $errorMessage.fadeOut(500); // Desvanece el mensaje en 500 ms
                }, 3000); // Espera 3000 ms (3 segundos) antes de comenzar a desvanecer
            }
        });</script>