@model PagedList.IPagedList<TechSolutions.Models.CategoriaProducto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Listado de Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #93C47D;
    }

    .action-column {
        width: 200px; /* Ajusta este valor según sea necesario */
        white-space: nowrap; /* Evita que los botones se dividan en varias líneas */
    }
</style>

<div class="container">
    <br>
    <h2>Listado de Categorías</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="errorMessage" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row">
        <div class="col-12">
            <input type="text" id="search" class="form-control" placeholder="Buscar categorías...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="categoryTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().Nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Descripcion)</th>
                            <th class="action-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td class="action-column">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-secondary btn-sm btn-action">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-sm btn-action">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm btn-action">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a href="@Url.Action("Create", "CategoriaProducto")" class="btn btn-primary">
                <i class="fas fa-plus"></i> Nueva Categoría
            </a>
        </div>
    </div>
    <br />
</div>

<script>
    $(document).ready(function () {
        var $successMessage = $('#successMessage');

        if ($successMessage.length) {
            setTimeout(function () {
                $successMessage.fadeOut(500);
            }, 3000);
        }

        var $errorMessage = $('#errorMessage');

        if ($errorMessage.length) {
            setTimeout(function () {
                $errorMessage.fadeOut(500);
            }, 3000);
        }

        $('#search').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#categoryTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
