@model IEnumerable<TechSolutions.Models.Producto>

@{
    ViewBag.Title = "Listado de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Estilo para el fondo de la página */
    body {
        background-color: #93C47D;
    }

    /* Estilo para el contenedor de detalles */
    .details-container {
        background-color: #f7f7f7;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para el contenedor de productos */
    .product-container {
        margin-bottom: 20px;
    }

    /* Estilo para cada producto en la cuadrícula */
    .product-item {
        background-color: #ffffff;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
    }

        .product-item img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

    .search-bar {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .product-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<div class="container">
    <br>
    <h2>Listado de Productos</h2>
    <!--mensaje q viene del login-->
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <label><strong>Compra de la forma más simple y segura, compra con confianza!</strong></label>
    <!-- Buscador -->
    <div class="row search-bar">
        <div class="col-md-8 offset-md-2">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar producto..." />
        </div>
    </div>

    <!-- Listado de Productos -->
    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-3 product-container">
                <div class="product-item">
                    <a href="@Url.Action("Detalle", "Producto", new { id = producto.Id })">
                        <img src="@(!string.IsNullOrEmpty(producto.Foto) ? Url.Content("~/Uploads/" + producto.Foto) : "#")" alt="@producto.Nombre" />
                    </a>
                    <h5>@producto.Nombre</h5>
                </div>
            </div>
        }
    </div>

    <br>
    <div class="text-center">
        @Html.ActionLink("Volver al Inicio", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <br />
</div>
<script>
    $(document).ready(function () {
        // Desvanecer el mensaje de éxito
        var $successMessage = $('#successMessage');
        if ($successMessage.length) {
            setTimeout(function () {
                $successMessage.fadeOut(500); // Desvanece el mensaje en 500 ms
            }, 3000); // Espera 3000 ms (3 segundos) antes de comenzar a desvanecer
        }

        // Filtrar productos basado en la búsqueda
        var $searchInput = $('#searchInput');
        var $productItems = $('.product-item');

        $searchInput.on('input', function () {
            var searchValue = $searchInput.val().toLowerCase();

            $productItems.each(function () {
                var $item = $(this);
                var productName = $item.find('h5').text().toLowerCase();
                if (productName.includes(searchValue)) {
                    $item.parent().show();
                } else {
                    $item.parent().hide();
                }
            });
        });
    });
</script>

