@model TechSolutions.Models.UsuarioEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="login-container">
            <h2>Editar Usuario</h2>
            <hr class="custom-hr" />

            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-horizontal">
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.Email, "Email (*)", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <!-- si no se ingresa nada en el campo contraseña se mantengdra la misma (hacerlo!)-->
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.Password, "Contraseña (*)", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <br />
                            <small class="form-text text-muted">Utilice al menos una letra, un número y siete caracteres.</small>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.Rol, "Rol (*)", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                        <div class="col-md-6">
                            @Html.EnumDropDownListFor(model => model.Rol, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.Nombre, "Nombre (*)", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.Apellido, "Apellido (*)", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-block custom-btn" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        background-color: #93C47D;
    }

    .login-container {
        background-color: #f7f7f7;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0 auto;
    }

    .custom-hr {
        border: none;
        border-top: 3px solid #085394;
        width: 100%;
        margin: 20px 0;
    }

    .form-control,
    .btn-block {
        text-align: center;
    }

    .custom-btn {
        width: 50%;
        font-size: 18px;
    }
</style>
